*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-color: #8b4513;
}


body{
    /* background-image: linear-gradient(to right,#c6ffdd,#fff); */
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.container{
    width: 980px;
    margin: 0 auto;
}

/* Header */

.header{
    /* position: fixed;
    top: 0; */
    width: 100%;
    text-align: center;
    max-height: 80px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}



.header .logo{
    max-width: 100px;
    max-height: 100px;
}

.header .logo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


.header .menu ul{
    list-style-type: none;
}

.header .menu ul li{
    display: inline;
    padding: 4px 12px;
}
.header .menu ul li:hover a{
    color: var(--main-color);
}


.header .menu ul li a{
    text-decoration: none;
    color: #000;
    line-height: 80px;
    font-weight: bold;
}

.menu button{
    border-radius: 15px 0px 15px 0px;
    border: none;
    padding: 4px 8px;
    background-color: var(--main-color);
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
}

/* main */
main{
    display: flex;
    margin-top: 20px;
}

/* Intro */
.intro{
    padding: 20px;
    background-color: #fff;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "aa bb dd dd"
    "cc bb dd dd"
    ;
}

.item1{
    grid-area: aa;
}

.item2{
    grid-area: cc;
}

.item3{
    grid-area: bb;
}

.item4{
    /* position: relative; */
    padding: 20px;
    grid-area: dd;
}

.intro-box{
    text-align: center;
    overflow: hidden;
    min-height: 200px;
    border-radius: 4px;
}

.intro-box img{
    width: 100%;
    height: 100%;
    transition: .5s;
}

.intro-box:hover img{
    transform: scale(1.1,1.1);
}

.intro-box-btn{
    text-align: center;
    transition: 5s;
}

.intro-box-btn button{
    margin: 10px;
    border-radius: 20px;
}

.intro-box-btn:hover i{
    color: #fff;
    transform: rotate(45deg);
}

.intro-box-btn button a{
    text-decoration: none;
    /* color: #fff; */
}

.intro-box-title{
    /* position: absolute; */
    top: 50%;
    transform: translateY(25%);
    transition: .5s;
}
.intro-box-title:hover{
    /* position: absolute; */
    top: 50%;
    transform: translateY(30%);
}

.intro-box-title p{
    margin-top: 20px;
    text-align: justify;
}

.Signin{
    background-color: var(--main-color);
    border-radius: 4px;
    border: none;
    padding: 8px 20px;
}

.Signin a{
    color: #fff;
}

.more{
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 20px;
    border: 3px solid var(--main-color);
}
.more:hover{
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    transition: .3s;
}

.more a{
    color: var(--main-color);
    font-weight: bold;
}

.more:hover a{
    color: #fff;
}

/* Sản Phẩm */
.product{
    width: 80%;
}

.product2{
    width: 100%;
}

.product-title{
    font-size: 20px;
    padding: 10px 20px;
}


/* User */
.user{
    height: 100vh;
    width: 20%;
    margin-left: 30px;
}

.product-box{
    /* width: 100%; */
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.product-ct-box,
.product-cmt,
.product-list{
    /* min-height: 200px; */
    /* background-color: #000; */
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-list{
    justify-items: center;
    /* width: 980px; */
    margin: 0 auto;
    margin-bottom: 20px;
}

/* .product-ct-box h2{
    color: var(--main-color);
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--main-color);
} */

/* .product-ct-box img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
} */

/* .product-ct-box{
    text-align: center;
}

.product-ct-box h4{
    margin-bottom: 10px;
}

.product-mota p{
    text-align: justify;
} */


.danhmuc{
    /* display: unset; */
    border-radius: 4px;
    margin: 20px 0px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 5px solid var(--main-color);
}

.danhmuc ul{
    list-style-type: none;
}

.danhmuc ul li{
    border-bottom: 1px solid var(--main-color);
    margin: 8px 4px;
    padding: 4px 0px;
    transition: .5s;
    /* border-radius: 4px; */
}
.danhmuc ul li:hover{
    background-color: var(--main-color);
    transform: scale(1.1,1.1);
    box-shadow: 4px 4px 2px #aaaaaa;
    /* font-weight: bold; */

    /* background-color: #000; */
}

.danhmuc ul li:hover a{
    color: #fff;
}

.danhmuc ul li a{
    /* font-weight: bold; */
    text-transform: uppercase;
    padding: 0px 8px;
    text-decoration: none;
    color: #000;
}

.box{
    min-height: 300px;
    padding: 4px;
    cursor: pointer;
    position: relative;
}

.product-box-img{
    text-align: center;
    /* overflow: hidden; */
}

.product-box-img img{
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 50%;
    width: 100%;
    transition: .5s;
}

.product-box-img img:hover{
    transform: scale(1.05,1.05);
}
/* Product Form Danh Mục */


.product-form{
    display: flex;
    padding: 4px 8px;
    overflow: hidden;
    width: 100%;
}
.product-form input[type=text]{
    padding: 6px 4px;
    width: 80%;
}

.product-form button{
    padding: 6px 4px;
    width: 20%;
    margin-left: 4px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-color);
}

.product-form button i{
    color: #fff;
}



.product-name p{
    color: var(--main-color);
    margin: 20px 0px -15px 0px;
    font-weight: 600;
}

.product-price p{
    /* font-weight: -100; */
    opacity: .9;
}

.box-btn{
    margin-left: 4%;
    display: flex;
    position: absolute;
    top: 65%;
    width: 100%;
    /* left: 15%; */
    visibility: hidden;
    text-align: center;
    transition: .1s;
}

.box-btn button,
.box-btn input[type=submit]
{
    padding: 10px 8px;
    margin: 0px 4px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: var(--main-color);
}

.box-btn input[type=submit]:hover{
    cursor: pointer;
}

.box-btn button a{
    text-decoration: none;
    color: #fff;
}

.box:hover .box-btn{
    visibility: unset;
    transform: scale(1.07,1.07);
}



.signIn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    padding: 4px 10px;
    border-top: 4px solid var(--main-color);
}

.user-title{
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 4px 0px;
    border-bottom: 1px solid var(--main-color);
}
.signIn p{
    margin: 4px 0px;
}

.signIn>p>a{
    text-decoration: none;
    font-weight: 600;
    color: var(--main-color);
}

.signIn input{
    width: 100%;
    border-radius: 4px;
    /* border: none; */
    padding: 6px ;
}

.signIn input[type=submit]{
    width: 100%;
    background-color: var(--main-color);
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    margin-top: 10px;
}
.not{
    text-align: center;
}

/* welfare */
.welfare{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.welfare-box{
    text-align: center;
    overflow: hidden;
    min-height: 150px;
    /* background-color: #000; */
    position: relative;
}

.welfare-box img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.welfare-box p{
    top: 80%;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--main-color);
    position: absolute;
    color: #fff;
    font-weight: bold;
}
/* blog */
.blog{
    margin-top: 70px;
    display: flex;
}

.blog-box{
    min-height: 300px;
    border-radius: 4px;
    /* background-color: #000; */
    width: 50%;
    overflow: hidden;
}

.blog-box h4, p{
    margin: 20px 0px;
}


.blog-content{
    padding: 40px;
    text-align: justify;
}

.blog-box img{
    border-radius: 20% 0px 20% 0px;
    width: 100%;
    height: 100%;
}

/* footer */
.footer{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    /* background-color: ; */
}

.footer-box{
    border-radius: 8px;
    overflow: hidden;
    max-height: 200px;
    /* background-color: orange; */
}


.footer .contact{
    text-align: center;
}
.footer .contact img{
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.address{
    text-align: justify;
}

.address ul{
    padding: 20px;
    list-style-type: none;
}

.address ul li{
    margin: 12px 0px;
}

.address ul li a{
    text-decoration: none;
    color: var(--main-color);
}

i{
    color: var(--main-color);
}
.address i{
    color: var(--main-color);
}

.address>input,
.address>button{
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 4px;
    border: none;
}

.address>button{
    background-color: var(--main-color);
    color: #fff;
}

.footer .contact i{
    font-size: 20px;
    margin: 20px 10px;
    color: var(--main-color);
}


.dangky{
    text-align: center;
}
.dangky h4{
    color: var(--main-color);
}

.dangky{
    width: 100%;
    /* height: 100vh; */
    /* background-color: #000; */
    /* background: linear-gradient(to right, #7A7FBA, #11C37C); */
    /* background-image: linear-gradient(0deg, #, green 40%, red); */
}
.form-dangky{
    width: 80%;
    margin: 0px auto;
    /* width: 100%; */
    height: auto;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 12px;
}

.form-dangky p{
    text-align: left;
    color: #fff;
}

.form-dangky h4{
    background-color: #fff;
    color: var(--main-color);
    padding: 8px 0px;
    border-radius: 4px;
    /* width: 110%; */
}

.form-dangky input[type=email],
.form-dangky input[type=text],
.form-dangky input[type=password]
{
    width: 100%;
    padding: 8px 4px;
    /* margin: 1px 0px; */
}

.form-dangky .form-dangky-btn{
    display: flex;
    justify-content: center;
}

.form-dangky>.form-dangky-btn>input{
    padding: 6px 20px;
    border-radius: 4px;
    margin: 12px 6px;
    border: none;
    /* background-color: #000; */
    color: var(--main-color);
    transition: .5s;
}

.form-dangky>.form-dangky-btn>input:hover{
    background-color: #000;
    color: #fff;
    transform: scale(1.2,1.2);
}

/* box-signin */
.box-signin{
    border-radius: 20px 0px 20px 0px;
    /* background-color: var(--main-color); */
    padding: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.box-signin-title{
    padding: 6px 0px;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50% 0px 50% 0px;
    font-weight: 900;
}

.box-signin-list-btn{
    /* opacity: .8; */
    transition: .5s;
    display: flex;
    /* line-height: 18px; */
    margin: 8px 0px;
    background-color: rgb(134, 106, 77);
    border-radius: 4px;
    padding: 4px 0px;
    border-left: 5px solid var(--main-color);
}

.box-signin-list-btn:hover{
    transform: scale(1.05,1.05);
    background-color: var(--main-color);
}


.box-signin-list-btn a{
    padding: 4px 5px;
    text-decoration: none;
    color: var(--main-color);
}

.box-signin-list-btn:hover{
    border-radius: 4px;
}
.box-signin-list-btn a,
.box-signin-list-btn i
{
    color: rgb(255, 255, 255);
}

.box-signin-list-btn i{
    padding: 0px 2px;
    margin: 0px 2px;
    text-decoration: none;
}
